{% extends 'main.html' %}

{% block content %}
<main class="delete-item layout">
    <div class="container">
        <div class="layout__box" style="min-height: auto;">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Подтвердите действие</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <p style="font-size: large;">Вы действительно хотите удалить <b>{{obj}}</b> ?</p>
                    </div>

                    <div class="form__action">
                        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Отмена</a>
                        <button class="btn btn--delete" type="submit">Удалить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}