@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

/*========== base styles ==========*/

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

html {
    font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-light-gray);
    background-color: var(--color-bg);
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}

dialog::backdrop {
    background: rgb(0 0 0 / .5);
}

/*========== components ==========*/
.container {
    max-width: 150rem;
    width: 90%;
    margin: auto;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 0;
    color: var(--color-main);
    box-shadow: none;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn--main {
    background-color: var(--color-main);
    color: var(--color-dark);
}

.btn--delete {
    background-color: red;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.btn--dark {
    background-color: var(--color-dark-light);
    color: var(--color-light);
}

.btn>svg {
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
}

.btn--pill {
    border-radius: 10rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 2.5rem;
    color: var(--color-main);
    background: transparent;
    border: 2px solid var(--color-main);
}

.btn-favorite {
    border-radius: 10rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 2.5rem;
    color: white;
}

.btn-favorite.add {
    background-color: var(--color-main);
}

.btn-favorite.add:hover::after {
    content: "Добавить в Избранное";
    position: relative;
}

.btn-favorite.remove {
    background-color: var(--color-dark-medium);
}

.btn-favorite.remove:hover::after {
    content: "Удалить из Избранного";
    position: relative;
}

.action-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.error-messages-block {
    margin: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.error-messages-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error-messages-block li {
    margin-bottom: 5px;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
    background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--color-gray);
}

/*========== avatar ==========*/

.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--color-main);
}

.avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar.avatar--small img {
    width: 2.8rem;
    height: 2.8rem;
}

.avatar.avatar--medium img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.avatar.avatar--big img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.avatar.avatar--large img {
    display: block;
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 50%;
}

/*========== header ==========*/

.header {
    padding: 1.5rem;
    background-color: var(--color-dark);
}

.header>.container {
    display: flex;
    gap: 9.5rem;
}

.header__logo,
.header__user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header__logo>img {
    height: 4.2rem;
    width: 4.2rem;
}

.header__logo>h1 {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--color-light);
}

@media screen and (max-width: 700px) {
    .header__logo h1 {
        display: none;
    }
}

.header__menu {
    margin-left: auto;
    position: relative;
}

.header__menu a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-gray);
}

.header__menu img {
    height: 3.6rem;
}

.header__menu p {
    line-height: 1.2;
    font-size: 1.75rem;
}

.header__menu span {
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
}

.header__menu svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-dark-light);
}

.header__search>label {
    background-color: var(--color-dark-medium);
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
}

.header__search svg {
    fill: var(--color-gray);
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.header__search input {
    width: 30rem;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-light);
}

@media screen and (max-width: 800px) {
    .header__search input {
        width: 20rem;
    }

    .header>.container {
        gap: 3rem;
    }
}

@media screen and (max-width: 500px) {

    .header__search,
    .header__navigation {
        display: none;
    }
}

/*========== dropdown ==========*/

.dropdown-menu {
    z-index: 111;
    position: absolute;
    top: 5rem;
    right: 0.5rem;
    background: var(--color-dark-light);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    padding: 1.2rem 4rem;
    display: block;
    color: var(--color-light) !important;
    font-weight: 500;
    font-size: 1.4rem;
}

.dropdown-menu a:hover {
    background-color: var(--color-dark-medium);
}

.dropdown-menu>a:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
    fill: var(--color-light);
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.dropdown-button:hover svg {
    fill: var(--color-main);
}

.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .mobile-menu {
        display: none;
    }
}

/*========== auth ==========*/

.auth__tagline {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.8rem;
}

.auth .layout__boxHeader {
    text-align: center;
    justify-content: center;
}

.auth__action {
    margin-top: 3rem;
    text-align: center;
}

.auth .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*========== layout ==========*/

.layout {
    margin-top: 2.4rem;
}

.layout>.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.layout--3>.container>div:first-child {
    flex-basis: 18%;
    max-width: 22.5rem;
}

.layout--3>.container>div:nth-child(2) {
    flex-basis: 50%;
}

.layout--3>.container>div:last-child {
    flex-basis: 25%;
}

.layout--2>.container>div:first-child {
    flex-basis: 80%;
}

.layout--2>.container>div:last-child {
    flex-basis: 17.5%;
}

@media screen and (max-width: 500px) {
    .tags {
        display: none;
    }

    .layout>.container {
        display: block;
    }

    .layout--2>.container>div:first {
        flex-basis: 100%;
    }

    .layout--2>.container>div:last-child {
        margin-top: 1rem;
    }
}

/*========== layout box ==========*/

.layout__box {
    width: 90%;
    max-width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    background-color: var(--color-dark);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.layout__boxHeader {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-dark-light);
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.layout__boxTitle svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-main);
}

.layout__body {
    margin: 3rem;
}

/*========== forms ==========*/

.form__group {
    margin-bottom: 2rem;
    width: 100%;
}

.form__split {
    display: flex;
    gap: 1.5rem;
}

.form__group label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid var(--color-dark-light);
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    color: var(--color-light);
    font-weight: 500;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: var(--color-main);
}

.form__group textarea {
    background: transparent;
    height: 10rem;
    resize: none;
}

.form__group select {
    color: var(--color-gray);
    font-weight: 400;
}

.form__group select option {
    background-color: var(--color-dark-light);
    color: var(--color-light);
    padding: 0 10rem;
}

.form__action {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.form__hide {
    position: absolute;
    left: -9999px;
}

.form__avatar label {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-main);
    cursor: pointer;
}

.form__avatar label:hover {
    text-decoration: underline;
}

.form-field-help-text {
    font-size: 0.8em;
    color: #999;
}

/*========== profile ==========*/

.profile {
    margin: 3rem;
}

.profile__avatar {
    text-align: center;
}

.profile__info {
    text-align: center;
}

.profile__info h3 {
    font-size: 2rem;
    color: var(--color-light);
    font-weight: 400;
}

.profile__info p {
    color: var(--color-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile__about {
    text-align: center;
    margin-top: 2rem;
}

.profile__about h3 {
    text-transform: uppercase;
    color: var(--color-dark-light);
    margin-bottom: 0.5rem;
}

.profile-page {
    margin-bottom: 1.5rem;
}

.profile-page h2 {
    color: var(--color-dark-light);
}

.update-profile.layout .layout__box {
    max-width: 50rem;
}

/*========== artwork list ==========*/

.artworkList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .artworkListArt {
        grid-template-columns: 1fr;
    }
}

.artworkList-grid-container {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.artworkList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.artworkList__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
    letter-spacing: 1px;
}

.artworkList__header p {
    font-weight: 500;
    color: var(--color-dark-light);
}

.artworkListArt {
    margin-bottom: 2.4rem;
    background-color: var(--color-dark);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr repeat(auto-fill, 1fr) 1fr;
    gap: 2rem;
}

.artworkListArt__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artworkListArt__author {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.artworkListArt__actions {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

.artworkListArt__actions span {
    font-size: 1.4rem;
    font-weight: 500;
}

.artworkListArt__actions svg {
    fill: var(--color-main);

    width: 2.5rem;
    height: 2.5rem;
}

.artworkListArt__content {
    margin: 1rem 0;
}

.artworkListArt__content a {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--color-light);
    transition: all 0.3s ease-in-out;
}

.artworkListArt__content a:hover {
    color: var(--color-main);
}

.artworkListArt__meta {
    border-top: 1px solid var(--color-dark-medium);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artworkListArt__tags {
    color: var(--color-light-gray);
    display: block;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.artworkListArt__tags svg {
    fill: var(--color-main);
    width: 1.6rem;
    height: 1.6rem;
}

.artworkListArt__topic {
    padding: 5px 1.5rem;
    background-color: var(--color-dark-medium);
    border-radius: 5rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.create-artwork.layout .layout__box {
    max-width: 68rem;
}

/*========== tags ==========*/

.tags__header {
    margin-bottom: 2rem;
}

.tags__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-dark-light);
}

.tags__list {
    list-style: none;
}

.tags__list li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
}

.tags__list li a.active,
.tags__list li a:hover {
    color: var(--color-main);
}

.tags__list li a span {
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.tags-page a:hover {
    text-decoration: underline;
}

.tags-page .tags__list li:not(:last-child) a {
    margin: 2rem 0;
    padding-bottom: 1rem;
    text-decoration: none;
    border-bottom: 1px solid var(--color-dark-medium);
}

.tags-page .header__search {
    display: block;
}

@media screen and (max-width: 500px) {
    .mobile-menu .header__search {
        display: block;
        margin-bottom: 2.4rem;
    }
}

/*========== artwork page ==========*/

.artwork-page {
    background: var(--color-dark);
    max-height: 87.5vh;
    border-radius: 0.7rem;
    overflow: auto;
    position: relative;
}

.artwork-top-bar {
    background: var(--color-dark-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    gap: 1rem;
}

.artwork-top-bar svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-light);
    cursor: pointer;
}

.artwork__topLeft {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.artwork__topLeft h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.artwork__topLeft svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-light);
}

.artwork__topRight {
    display: flex;
    column-gap: 1em;
}

.artwork__topRight svg {
    fill: var(--color-main-light);
}

.artwork__header {
    max-height: 30vh;
    overflow-y: auto;
    position: inherit;
    background: var(--color-dark);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    .artwork__header {
        top: 4.3rem;
        padding-right: 2rem;
    }
}

.artwork__box {
    padding-left: 2rem;
    padding-right: 2rem;
    max-height: 100vh;
    /* overflow-y: auto; */
    padding-bottom: 0;
}

.artwork__box>img {
    max-height: 80vh;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .room__box {
        padding-left: 2.5rem;
        padding-right: 2rem;
        height: 80.5vh;
        overflow-y: auto;
        padding-bottom: 0;
    }
}

.artwork__info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.artwork__info h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-main);
}

.artwork__author {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.delete-item.layout .layout__box {
    max-width: 68rem;
}

/*========== pagination ==========*/

.pagination {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.pagination>ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagination .btn {
    color: var(--color-sub);
    border: 1px solid;
    border-color: var(--color-dark-medium);
    background-color: var(--color-dark);
    height: 4.75rem;
}

.pagination .btn.btn--current {
    color: var(--color-light);
    border: 2px solid;
    border-color: var(--color-main);
}