{% load artworks_extras %}

<div class="artworkListArt">
    <div class="artworkListArt__header">
        <a href="{% url 'user-profile' artwork.author.id %}" class="artworkListArt__author">
            <div class="avatar avatar--small">
                <img src="{{artwork.author.profile.avatar.url}}" />
            </div>
            <span>{{artwork.author.profile.nickname}}</span>
        </a>
        <div class="artworkListArt__actions">
            <span>{{artwork.published_at|timesince}} назад</span>
        </div>
    </div>
    <div class="artworkListArt__content" style="display: inline-grid;">
        <a href="{% url 'artwork' artwork.id %}">{{artwork.title}}</a>
        <a href="{% url 'artwork' artwork.id %}"><img src="{{artwork.file.thumbnail.url}}"></a>
    </div>
    <div class="artworkListArt__meta">
        <div class="artworkListArt__tags">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags"
                viewBox="0 0 16 16">
                <path
                    d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z" />
                <path
                    d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z" />
            </svg>
            {% for tag in artwork.tags.all|slice:":5" %}
            <a href="{% url 'search' %}?tags={{tag.id}}">{{tag.name}}{% if not forloop.last %}, {% endif %}</a>
            {% empty %}
            Теги отсутствуют
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="artworkListArt__favorite-button">
            <button
                class="btn btn-favorite {% if artwork|is_favored_by_user:request.user %}remove{% else %}add{% endif %}"
                id="favoriteButton{{ artwork.id }}" onclick="toggleFavorite('{{ artwork.id }}')">
                {% if artwork|is_favored_by_user:request.user %}
                💔
                {% else %}
                ❤
                {% endif %}
            </button>
        </div>
        {% endif %}
    </div>
</div>