{% load artworks_extras %}

<div class="artworkList">
    <div class="mobile-menu">
        <form class="header__search" method="GET" action="{% url 'search' %}">
            <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path
                        d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                    </path>
                </svg>
                <input name="query" placeholder="Поиск артов..." />
            </label>
        </form>
        <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'tags' %}">Список тегов</a>
        </div>
    </div>

    <div class="artworkList__header">
        <div style="margin-right: 10px;">
            <h2>Галерея артов</h2>
            {% with artworks.paginator.count|default:artworks.count|default:0 as arts_count %}
            <p>{{arts_count}} {{arts_count|pluralize_ru:"арт,арта,артов"}} {{arts_count|pluralize:"доступен,доступно"}}</p>
            {% endwith %}
        </div>

        {% if request.user.is_authenticated %}
        <a class="btn btn--main" href="{% url 'artwork-create' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path
                    d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
                </path>
            </svg>
            Создать арт
        </a>
        {% endif %}
    </div>

    <div class="artworList-grid-container">
        {% for artwork in artworks %}
        {% include 'artwork_component.html' %}
        {% endfor %}
    </div>

    {% if artworks.has_other_pages %}
    <div class="pagination">
        <ul>
            {% if artworks.has_previous %}
            <li><a class="btn" href="?{{request.GET.urlencode}}&page={{artworks.previous_page_number}}">Назад</a></li>
            {% endif %}

            {% for i in artworks.paginator.page_range %}
            {% if i == artworks.number %}
            <li><span class="btn btn--current">{{i}}</span></li>
            {% elif i > artworks.number|add:'-3' and i < artworks.number|add:'3' %}
            <li><a class="btn" href="?{{request.GET.urlencode}}&page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

                {% if artworks.has_next %}
                <li><a class="btn" href="?{{request.GET.urlencode}}&page={{artworks.next_page_number}}">Вперед</a></li>
                {% endif %}
        </ul>
    </div>
    {% endif %}
</div>