{% extends 'main.html' %}

{% block content %}

<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Вход</h3>
                </div>
            </div>
            <div class="layout__body">
                <h2 class="auth__tagline"></h2>

                {% if messages %}
                <div class="error-messages-block">
                    <ul>
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <form class="form" method="POST">
                    {% csrf_token %}

                    <div class="form__group">
                        <label>Имя пользователя или Email</label>
                        {{form.username}}
                    </div>
                    <div class="form__group">
                        <label for="password">Пароль</label>
                        {{form.password}}
                    </div>

                    <button class="btn btn--main" type="submit">Войти</button>
                </form>

                <div class="auth__action">
                    <p>Ещё не зарегистрированы?</p>
                    <a href="{% url 'register' %}" class="btn btn--link">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}